html,
body {
  box-sizing: content-box;
  min-width: 100vh;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background-color: black;
  color: white;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  font-size: 48px;
  font-weight: 900;
  color: burlywood;
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.instruction {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 36px;
}

.start-button-container {
  padding: 10px;
}

.btn {
  text-align: center;
  padding: 10px;
  background-color: black;
  color: burlywood;
  border: 2px solid burlywood;
  border-radius: 5px;
  font-size: 16px;
  min-width: 60px;
}

.btn:hover {
  background-color: grey;
  color: burlywood;
  font-size: 22px;
  padding: 15px;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game .scores {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-container > *,
.com-container > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  text-align: center;
  font-size: 36px;
}

.choice-container {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
  
}

.end {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  
}

.end-title {
  background-color: black;
  color: burlywood;
  font-size: 24px;
}

.winner {
  color: white;
  font-size: 72px;
}

.hidden {
  display: none;
}
