:root {
  font-size: 16px;
  --fs-xs: 1rem;
  --fs-s: 1.5rem;
  --fs-m: 2rem;
  --fs-l: 2.5rem;
  --fs-xl: 3rem;
  --custom-white: #f0f4f8;
  --custom-dark-grey: #4B5563;
  --custom-light-blue: #3B82F6;
  --custom-red: #EF4444;
  --custom-text: #222;
  --custom-light-green: #10B981;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: clamp(1rem, 2rem, 3rem);
  color: var(--custom-white);
  background-color: var(--custom-white);
  -webkit-text-stroke: 0.15dvw var(--custom-text);
  
  display: flex;
  flex-direction: column;
  
  min-height: 100dvh;
  width: 100%;
  max-width: 100dvw;

  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}

.header>h1 {
  font-size: clamp(1rem, 10vw, 4rem);
  padding: clamp(0.1rem, 0.5rem, 1rem);
  text-align: center;
  color: var(--custom-red)
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: clamp(0.1rem, 0.5rem, 1rem);
}

a {
  text-decoration: none;
  color: var(--custom-light-blue)
}

a>div:hover {
  transform: scale(1.2);
}

a>div:active {
  transform: scale(0.9);
}

.landing {
  align-self: center;
}

.landing,
.instruction {
  text-align: center;
  font-size: clamp(1rem, 2.5vw, 1.5rem);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.instruction,
.start-button-container {
  padding: clamp(0.1rem, .25rem, 0.5rem);
  font-size: clamp(1rem, 2rem, 4rem);
}

.game {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.end {
  /* font-size: clamp(var(--fs-m), var(--fs-l), var(--fs-xl)); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  font-size: clamp(1rem, 2rem, 3rem);
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: var(--custom-light-green);
  color: var(--custom-white);

}

button:hover {
  transform: translateY(-5px) scale(1.1)
}

button:active {
  transform: scale(0.9)
}

/* #rock {
  background-color: var(--custom-dark-grey);
}

#paper {
  background-color: var(--custom-red);
}

#scissors {
  background-color: var(--custom-light-blue);
} */

.scores,
.round-winner,
.choice-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100dvw;
  
}

.player-container,
.com-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  padding: 1dvw;
  max-width: 100%;
}

.hidden {
  display: none;
}

.winner {
  text-align: center;
  font-size: clamp(1rem, 4rem, 8rem);
  padding: 5dvh;
}

@keyframes flash {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: .3
  }
}

.flash {
  animation: flash 1s ease-in-out
}

.green {
  color: var(--custom-light-green);
}

.red {
  color: var(--custom-red);
}



@media screen and (max-width: 600px) {
  body {
    display: flex;
    flex-direction: column;
  }

}