:root {
  font-size: 2rem;
  color: var(--custom-white);
  background-color: var(--custom-white);
  -webkit-text-stroke: 0.15dvw var(--custom-text);
  --fs-xs: 1rem;
  --fs-s: 1.5rem;
  --fs-m: 2rem;
  --fs-l: 2.5rem;
  --fs-xl: 3rem;
  --custom-white: #f0f4f8;
  --custom-dark-grey: #4B5563;
  --custom-light-blue: #3B82F6;
  --custom-red: #EF4444;
  --custom-text: #222;
  --custom-light-green: #10B981;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  display: flex;
  flex-direction: column;
  
  width: 100dvw;
  height: 100dvh;
  justify-content: flex-start;
  align-items: center;
  padding: 1dvh;
  margin: 1dvh;
}

.title>h1 {
  font-size: clamp(5dvw, var(--fs-xl), 10dvw);
  margin: 2dvh;
  
}

.landing, .instruction {
  font-size: clamp(3dvw, var(--fs-s), 8vw);
  display: flex;
  flex-direction: column;
  /* gap: 10dvw; */
  justify-content: center;
  align-items: center;
}

.game {
  font-size: clamp(3dvw, var(--fs-m), 8vw);
  display: flex;
  flex-direction: column;
  gap: 10dvw;
  justify-content: center;
  align-items: center;
}



.end {
  font-size: clamp(3dvw, var(--fs-m), 8vw);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  font-size: clamp(2vw, var(--fs-s), 3dvw);
  margin: 1dvw;
  padding: 1dvw;
  border-radius: 2dvw;
  background-color: var(--custom-light-green);
  min-width: 5dvw;
  color: var(--custom-white);
  font-size: var(--fs-xs);
}

button:hover {
  transform: translateY(-5px) scale(1.1)

}

button:active {
  transform: scale(0.9)
}

#rock {
  background-color: var(--custom-dark-grey);
}

#paper {
  background-color: var(--custom-red);
}

#scissors {
  background-color: var(--custom-light-blue);
}

.scores, .round-winner, .choice-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1dvw;
}

.player-container, .com-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin: 1dvw;
  padding: 1dvw;
}

.hidden {
  display: none;
}

@keyframes flash {
  0%, 100% {opacity: 1;}
  50% {opacity: .3}
} 

.flash {
  animation: flash 1s ease-in-out
}

.green {
  color: var(--custom-light-green);
}
